.GamesContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.CardContainer{
    min-width: 100%;
    min-height: fit-content;
}
.GameCard{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0;
}
.GameCard > div{
    width: 100%;
}
.GameStats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: bold;
    align-items: start;
}