.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    width: 100dvw;
    height: 75px;
    padding: 0
}