.MasteriesContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    min-width: fit-content;
    width: fit-content;
}
.MasteriesTag{
    font-size: 12px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5%;
    border: 2px solid;
    border-radius: 8px;
}
.UserMasteries{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
}
.UserMastery{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.UserMastery > img{
    width: 54px;
    height: 54px;
    margin-right: 8px;
}
.MasteryStatus{
    display: flex;
    flex-direction: column;
}