.SearchContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35dvw;
    min-width: 690px;
    max-width: 780px;
    height: fit-content;
    max-height: 60px;
    margin: 4dvh 0;
    padding: 10px 0 10px 30px;
    border-radius: 32px;
}
.SearchContainer > div {
    height: 2.6rem;
    min-height: 40px;
    max-height: 60px;
    align-items: start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.SearchContainer > div > span {
    font-size: 12px;
}
.Dropdown{
    width: 44px;
}
.SearchInput{
    font-size: 14px;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
}
.SearchInput::-webkit-input-placeholder{
    color: #a3a3a3
}
.SearchInput:-moz-placeholder{
    color: #a3a3a3
}
.SearchInput::-moz-placeholder{
    color: #a3a3a3
}
.SearchInput:-ms-input-placeholder{
    color: #a3a3a3
}
.SearchButton{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 50%;
    outline: none;
}
.Tagline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}