.SearchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 35dvw;
    min-width: 690px;
    max-width: 780px;
    height: fit-content;
    padding: 10px 30px;
    margin: 5dvh 0;
}
.SearchContainer > div {
    height: 2.6rem;
    min-height: 40px;
    max-height: 60px;
    align-items: start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.SearchContainer > div > span {
    font-size: 12px;
}
.SearchInput{
    font-size: 14px;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
}
.SearchInput::-webkit-input-placeholder{
    color: #5B5A56
}
.SearchInput:-moz-placeholder{
    color: #5B5A56
}
.SearchInput::-moz-placeholder{
    color: #5B5A56
}
.SearchInput:-ms-input-placeholder{
    color: #5B5A56
}
.ServerButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: 0;
    outline: none;
}
.SearchButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2.6rem;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: 0;
    outline: none;
}
.Tagline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}