.UserDataContainer{
    display: flex;
    flex-direction: row;
    width: 35dvw;
    min-width: 720px;
    max-width: 815px;
    min-height: 440px;
    max-height: 500px;
    height: 45dvh;
    padding: 20px;
    justify-content: space-between;
    border-radius: 5px;
}
.LeftWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}
.RightWrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    height: 100%;
}